<p>
  <strong>Title:</strong>
  <%= @training.date %>
</p>

<p>
  <strong>Text:</strong>
  <%= @training.location %>
</p>

<h2> Attendees </h2>
<% @training.people.each do |person| %>
  <p>
    <strong>person:</strong>
    <%= person.name %>
  </p>

  <p>
    <strong>Status: </strong>
    <%= person.status %>
  </p>
<% end %>

<h2>Will you attend?</h2>
<%= form_for([@training, @training.people.build]) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :Yes %>
    <%= f.radio_button :status, "yes" %><br>
    <%= f.label :No %>
    <%= f.radio_button :status, "no" %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', trainings_path %>
